CONVEX_DEPLOYMENT="convex deployment value"

NEXT_PUBLIC_CONVEX_URL="convex dev url"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="clerk dev publishable key"
CLERK_SECRET_KEY="clerk dev secret key"

NEXT_PUBLIC_IMGBB_KEY="imgbb key for image hosting"

NEXT_PUBLIC_WEBSOCKET_URL=ws://localhost:1234

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

